*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.gradle/
*.log
*.hprof

# Kotlin
*.class
*.jar
*.war
*.nar
*.ear

# Misc
*.swp
*.swo
*~
.DS_Store?

# AndroidStudio
.idea/
*.iws
*.ipr
.settings/
.project
.classpath

# NDK
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore
debug.keystore

# Gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# App build
app/build/
app/release/

# Screenshots
screenshot.png

#claude
.claude




normalbase/


normal/


# 架构文档
架构文档/


#lib库文件夹
app/libs/V2.7.3-039-20260512_Android_OpenSSL (1)

# 文档文件忽略
docs/

# 策略skills忽略
skills/

演示动画/